/* Reset básico */ 
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body { 
    display: flex;
    font-family: 'Arial', sans-serif; 
    background: linear-gradient(45deg, #ab47bc, #4caf50); /* Primária e Complementar */
    color: #e0e0e0; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
}

.container { 
    max-width: 100%; 
    margin: 0 auto; 
    padding: 20px; 
    background: #1e1e1e; 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
}

.intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #ab47bc, #4caf50); /* Primária e Complementar */
    color: #fdd835; /* Secundária */
}

h1 {
    width: 100%; 
    text-align: center; 
    margin: 20px 0; 
    font-size: 2.5em; 
    font-weight: 600; 
    color: transparent; 
    background-clip: text;
    -webkit-background-clip: text; 
    animation: blinkAnimation 1.5s step-end infinite; 
    position: relative; 
}

h1::before {
    content: attr(data-text); 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: linear-gradient(90deg, #6a1b9a, #c62828, #6a1b9a);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientAnimation 3s ease infinite; 
}

p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes blinkAnimation {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.start-button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #ff9800; /* Acento */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #ab47bc; /* Primária */
}

/* Container principal após a rolagem */
#main-content {
    padding: 20px;
}

.date-time {
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
    color: #fdd835; /* Secundária */
}



.inputs { 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}

.input-group { 
    display: flex; 
    align-items: center; 
    position: relative; 
    border-radius: 5px; 
    overflow: hidden; 
}

label { 
    flex: 1; 
    font-size: 0.8em; 
}

input[type="number"] { 
    flex: 1; 
    padding: 8px 10px; 
    border: 1px solid #444; 
    border-radius: 5px; 
    font-size: 0.8em; 
    transition: border-color 0.3s, box-shadow 0.3s; 
    display: none; 
    background-color: #1e1e1e; 
    color: #e0e0e0; 
}

input[type="number"]:focus { 
    border-color: #bb86fc; 
    box-shadow: 0 0 5px rgba(187, 134, 252, 0.5); 
    outline: none; 
}

.display-value { 
    flex: 1; 
    padding: 8px 10px; 
    border: 1px solid transparent; 
    border-radius: 5px; 
    background-color: #333; 
    color: #e0e0e0; 
    font-size: 0.8em; 
    cursor: default; 
}

i { /* Seleciona todos os elementos <i> (ícones). */
    cursor: pointer; /* Define o cursor como ponteiro ao passar sobre os ícones. */
    color: #bb86fc; /* Define a cor dos ícones como roxa. */
    font-size: 0.8em; /* Reduz o tamanho da fonte dos ícones. */
    padding: 10px; /* Adiciona preenchimento ao redor dos ícones. */
    transition: color 0.3s; /* Define uma transição suave para a cor do ícone. */
}

i:hover { /* Aplica estilos quando o cursor passa sobre os ícones. */
    color: #bb86fc; /* Mantém a cor roxa ao passar sobre o ícone. */
}

button { /* Seleciona todos os elementos <button>. */
    padding: 10px 15px; /* Adiciona preenchimento ao botão. */
    background-color: #6000d5; /* Define um fundo roxo para o botão. */
    color: white; /* Define a cor do texto do botão como branca. */
    border: none; /* Remove a borda padrão do botão. */
    border-radius: 5px; /* Adiciona bordas arredondadas ao botão. */
    cursor: pointer; /* Define o cursor como ponteiro ao passar sobre o botão. */
    font-size: 0.9em; /* Reduz o tamanho da fonte do botão. */
    margin-top: 10px; /* Adiciona um espaço acima do botão. */
    transition: background-color 0.3s, transform 0.2s; /* Define transições suaves para a cor de fundo e transformação. */
}

button:hover { /* Aplica estilos quando o cursor passa sobre o botão. */
    background-color: #9a67ea; /* Altera a cor de fundo para um tom mais escuro ao passar sobre o botão. */
    transform: translateY(-2px); /* Move o botão 2px para cima ao passar o mouse. */
}

.results { /* Seleciona a classe 'results'. */
    margin-top: 10px; /* Adiciona um espaço acima da seção de resultados. */
    padding: 10px; /* Adiciona preenchimento interno. */
    border: 1px solid #444; /* Define uma borda escura ao redor da seção de resultados. */
    border-radius: 5px; /* Adiciona bordas arredondadas à seção de resultados. */
    background-color: #1e1e1e; /* Define um fundo escuro para a seção de resultados. */
    color: #e0e0e0; /* Define a cor do texto da seção de resultados como clara. */
}

.metas { /* Seleciona a classe 'metas'. */
    display: flex; /* Define um contêiner flexível. */
    justify-content: space-between; /* Distribui os itens com espaço entre eles. */
    flex-wrap: wrap; /* Permite quebra de linha quando necessário. */
    margin-top: 20px; /* Adiciona um espaço acima da seção de metas. */
    padding: 10px; /* Adiciona preenchimento interno. */
    background-color: #1e1e1e; /* Define um fundo escuro para a seção de metas. */
    border-radius: 5px; /* Adiciona bordas arredondadas à seção de metas. */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra à seção de metas. */
}

.meta { /* Seleciona a classe 'meta'. */
    display: flex; /* Define um contêiner flexível. */
    flex-direction: column; /* Alinha os itens em coluna. */
    align-items: center; /* Centraliza os itens horizontalmente. */
    width: 18%; /* Define a largura da meta. */
    min-width: 50px; /* Define uma largura mínima para a meta. */
    padding: 5px; /* Adiciona preenchimento interno. */
    margin-bottom: 10px; /* Adiciona um espaço inferior entre as metas. */
    background-color: #333; /* Define um fundo escuro para a meta. */
    border-radius: 5px; /* Adiciona bordas arredondadas à meta. */
    text-align: center; /* Centraliza o texto dentro da meta. */
    font-size: 0.7em; /* Reduz o tamanho da fonte da meta. */
}

.estrela { /* Seleciona a classe 'estrela'. */
    width: 15px; /* Define a largura da estrela. */
    height: 15px; /* Define a altura da estrela. */
    margin-bottom: 5px; /* Adiciona um espaço inferior à estrela. */
    border-radius: 50%; /* Torna a estrela redonda. */
    background-color: #ccc; /* Define uma cor de destaque para as estrelas. */
    transition: background-color 0.3s; /* Define uma transição suave para a cor de fundo da estrela. */
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.animated-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #333; /* Cor de fundo dos botões */
    font-size: 0.6em; /* Tamanho reduzido do texto */
    font-weight: bold;
    font-family: 'Arial', sans-serif; /* Troca de fonte */
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
    border: 2px solid #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    text-align: center;
    color: transparent; /* Torna o texto invisível para exibir o gradiente */
    background-clip: text;
    -webkit-background-clip: text; /* Suporte para navegadores WebKit */
    animation: blinkAnimation 1.5s step-end infinite; /* Animação piscando */
}

.animated-button::before {
    content: attr(data-text); /* Exibe o texto do botão */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #9a67ea, #ff6347, #9a67ea); /* Gradiente das letras */
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 1;
    animation: gradientAnimation 3s ease infinite; /* Animação do gradiente */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes blinkAnimation {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.animated-button:hover::before {
    animation: none; /* Remove a animação ao passar o mouse */
}

.calculator-container {
    text-align: center;
    padding-top: 20px;
}

.calculator-image {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.calculator-image:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
    opacity: 0.8; /* Torna a imagem um pouco transparente */
}



footer { /* Seleciona o elemento <footer>. */
    margin-top: 20px; /* Adiciona um espaço acima do rodapé. */
    margin-bottom: 20px;
    text-align: center; /* Centraliza o texto do rodapé. */
}

.footer-content { /* Seleciona a classe 'footer-content'. */
    font-size: 0.8em; /* Reduz o tamanho da fonte no rodapé. */
    color: #bb86fc; /* Define a cor do texto do rodapé como roxa. */
}

.footer-content a { /* Seleciona links dentro da classe 'footer-content'. */
    color: #bb86fc; /* Define a cor dos links como roxa. */
    text-decoration: none; /* Remove o sublinhado dos links. */
}

.footer-content span { /* Seleciona elementos <span> dentro da classe 'footer-content'. */
    color: #e0e0e0; /* Define a cor do texto do span como clara. */
}

footer p { /* Seleciona todos os elementos <p> dentro do rodapé. */
    margin-bottom: 5px; /* Adiciona um espaço inferior ao parágrafo. */
    font-size: 0.9em; /* Reduz o tamanho da fonte do parágrafo. */
    color: #bbb; /* Define a cor do texto do rodapé como um cinza claro. */
}